.container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(85%, transparent), to(rgba(250, 250, 250, 0.1)));
}

.book-header {
  border-width: 1px;
  border-bottom: rgba(250, 250, 250, 0.1);
}
.book-header > img {
  width: 100px;
  height: 100px;
}

hr {
  width: 100vw;
}
.book-footer {
  margin-top: 50px;
}
.book-pagination {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}
.book-pagination > svg {
  cursor: pointer;
}
